@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7ed;
  --foreground: #171717;
  --primary: #301f82; 
}
[data-theme="dark"] {
  --background: #1a123c;
  --foreground: #d5d3cb;
  --primary: #d5b58b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scrollbar-gutter: stable both-edges;
  overflow: overlay;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;

  
}
ol {
  list-style-type: disc;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
}
